// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// colors 
$primary: #597504 ;
$navbar-dark-color: #408438;
$navbar-light-hover-color:  #408438;
$navbar-color: white;
$offcanvas-color: white;
$offcanvas-bg-color: #597504;
$offcanvas-horizontal-width: 18%;



//$nav-tabs-link-active-color:  #59a561 ;
 //$nav-tabs-link-active-bg: #5f6f0e  ;