// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.h-screen{
    height: 100vh;
}
.w-screen{
    width: 100vh;
}
// .nav-color{
//     background-color: #408438;
// }

.imagen{
    background-image: url('/img/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}

.fondo{
    background-color:  #d6dac5;
}

.color-link{
    color: white;
    
}